@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Lexend+Deca&display=swap');

body {
    background-color: hsl(0, 0%, 95%);
}

.container {
    margin: 0 auto;
}

.thing {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    
}

.text {
    color:hsla(0, 0%, 100%, 0.75)
}

.card-settings {
    padding: 52px;
    height: 495px;
    width: 315px;
}

.card-settings:nth-of-type(1) {
    background-color: hsl(31, 77%, 52%);
}

.card-settings:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%);
}

.card-settings:nth-of-type(3) {
    background-color:  hsl(179, 100%, 13%);
}

h1 {
    font-family: 'Big Shoulder Display', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    letter-spacing: -1px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    
}

.icon {
    height: 50px;
    width: 50px
}

.learn-more {
    padding: 10px;
    text-decoration: none;
    border: 2px solid hsla(0, 0%, 100%, 0.75);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:hsl(0, 0%, 95%);
    margin-top: 5rem;
    margin-bottom: 2rem;
    width: 180px;


}
.sedan, .sedan:hover{
    color: hsl(31, 77%, 52%);
}
.suv, .suv:hover {
    color: hsl(184, 100%, 22%);
}
.lux, .lux:hover {
    color:  hsl(179, 100%, 13%);
}

.learn-more:active:nth-of-type(1) {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%) ;

}

.learn-more:active:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%) ;
}

.learn-more:active:nth-of-type(3) {
    background-color:  hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%) ;
}

@media (max-width: 570px) {

    /* .card-settings {
        margin: 0 auto
        
    } */
}